
table{
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
    border-spacing: 5px;
}

thead th{
    background-color: #F4F6F6;
    padding: .5rem;
    border-bottom: 2px solid #ddd; 
}


tbody td{
    border: 2px solid #ffffff;
}